@{
    ViewData["Title"] = "- Inicio";
}

<main class="container text-center px-2 py-3 mb-4">
    <div class="card shadow p-3 bg-body rounded">
        <div class="card-body">
            <p class="lead">
                Olvídate de realizar tareas repetitivas.<br />
                Configura las tareas que quieres realizar, descarga tu script y ejecútalo cuando quieras.
            </p>
            <a asp-controller="Home" asp-action="Options"
               class="btn btn-secondary">
                ¡Empezar!
            </a>
        </div>
    </div>
</main>