@if (Context.User.Identity.IsAuthenticated)
{
    <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-alt"></i>
        </a>
        <div class="dropdown-menu text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser2">
            @if (Context.User.IsInRole("admin"))
            {
                <a asp-controller="Admin"
                   asp-action="Index"
                   class="dropdown-item">
                    Admin
                </a>
            }
            <a class="dropdown-item" asp-controller="Users" asp-action="Profile">
                Perfil
            </a>
            <hr class="dropdown-divider" />
            <form method="post" asp-controller="Identity"
                  asp-action="Logout">
                <button type="submit" class="dropdown-item">Cerrar Sesión</button>
            </form>
        </div>
    </div>

}
else
{
    <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-alt-slash"></i>
        </a>
        <ul class="dropdown-menu text-small shadow dropdown-menu-end text-center" aria-labelledby="dropdownUser2">
            <li>
                <a class="dropdown-item" asp-controller="Identity" asp-action="Signup">
                    Registrarse
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Identity" asp-action="Login">
                    Iniciar sesión
                </a>
            </li>
        </ul>
    </div>
}